.profile__box {
  border-radius: 10px;
  background-color: rgb(223, 168, 86);
  color: white;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 10px;
  height: 100vh;
  margin: auto;
}

h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

ul {
  width: fit-content;
  margin: auto;
  padding-left: 0;
}

li {
  font-size: 1.17rem;
  text-align: left;
  text-transform: capitalize;
  width: fit-content;
}

.image__box {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.image__box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.badge__user {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  color: white;
  top: 0;
  right: 0;
  background-color: rgb(255, 211, 146);
}
